/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.listing{
  text-overflow: ellipsis;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  white-space:nowrap;
  overflow:hidden;
}
